<%- include('header') -%>

<form method="post" action="/">
  <div class="form">
    <h1 class="title">Undirskriftarlisti</h1>
    <div class="field<%= locals.isInvalid('name', data.errors) ?  ' field--invalid' : '' %>">
       <label for="name">Nafn*</label>
       <input type="text" name="name" id="name" value="<%= data.name %>">
    </div>  
  <div class="field<%= locals.isInvalid('nationalId', data.errors) ? ' field--invalid' : '' %>">
      <label for="nationalId">Kennitala*</label>
      <input type="text" id="nationalId" name="nationalId" value="<%= data.nationalId %>"><br>
  </div>
  <div class="field <%= locals.isInvalid('comment', data.errors) ? ' field--invalid' : '' %>">
      <label for="comment">Athugasemd:</label>
      <textarea type="text" id="comment" name="comment"><%= data.comment %></textarea><br>
  </div>
  <div class="field field--checkbox">
      <input type="checkbox" id="anonymous" name="anonymous" <%= (data.anonymous === true) ? 'checked' : '' %>>
      <label for="anonymous">Ekki birta nafn á lista</label>
  </div>
  <% if (data.errors.length > 0) { %>
        <h2 class="error-title">Villur við undirskrift:</h2>
        <div class=error-list> 
            <ul class="errors">
                <% data.errors.forEach((error) => { %>
                    <li class="error"><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
<% } %>
    
      <button>Skrifa undir</button>
  </div>
</form>

<hr>

<div class="signature-data">
    <h2 class="signature-title">Undirskriftir:</h2>    
    <% if (rowCount !== 0) { %>
        <table class="signature-table">
            <tr>
                <th>Dags</th>
                <th>Nafn</th>
                <th>Athugasemd</th>
            </tr>
            <% rows.forEach((signature) => { %>
                <tr>
                    <td><%= locals.parseDate(signature.signed) %></td>
                    <td>
                        <%= (signature.anonymous) ? 'Nafnlaust' : signature.name %>
                    </td>
                    <td><%= signature.comment %></td>
                </tr>
            <% }) %>
        </table>
    <% } else { %>
        <p class="signature-text">Engar undirskriftir.</p>
    <% } %>
</div>

<%- include('footer') -%>